# Priliminary analysis for MC1

In [14]:
import pandas as pd 
import numpy as np
from globals import DATA_PATH
from matplotlib import pyplot as plt

In [20]:
articles_df = pd.read_csv("../data/news_articles.csv", encoding="utf-8", sep="|", parse_dates=["publish_date"])
articles_df.head()

,articleID,source,title,author,publish_date,location,content
0,121,All News Today,POK PROTESTS END IN ARRESTS,NaN,2005-04-06,"ELODIS, Kronos",Fifteen members of the Protectors of Kronos (P...
1,135,All News Today,RALLY SCHEDULED IN SUPPORT OF INCREASED GOVERN...,NaN,2012-04-09,"ABILA, Kronos","Silvia Marek, leader of the Protectors of Kron..."
2,152,All News Today,LACK OF DETAILS MARS GOVERNMENT INTENTIONS,NaN,1993-02-02,"ABILA, Kronos",In a glitzy press conference late last year Pr...
3,154,All News Today,"ELODIS, KRONOS: A TOWN IN NEED, Part One",NaN,1998-03-20,NaN,"NOTE: This article is the first in a series, r..."
4,237,All News Today,"ELODIS, KRONOS: WILL THE GOVERNMENT RESPOND IN...",NaN,1998-05-15,NaN,NOTE: This article is the last installment of ...

### extracting time from content

In [87]:
import dateparser
import re
# chat generated and modified
TIME_PATTERNS = [
    r'^\d{4}\b',                        # 0932, 1452 at beginning of content
    r'\b\d{1,2}:\d{2}\s*(?:AM|PM|am|pm)?', # 9:32, 14:52, 2:45 pm
    r'\b\d{1,2}\s*(?:AM|PM|am|pm)\b',      # 9 AM, 10 pm
    #r'\b\d{1,2}[:.]\d{2}\b',             # 9.32, 14.52
    r'\b\d{1,2} o\'clock\b'              # 9 o'clock
]
combined_pattern = re.compile('|'.join(TIME_PATTERNS))
def extract_time(content):
    match = re.search(combined_pattern, content)
    if match:
        time_str = match.group()
        parsed = dateparser.parse(time_str,settings={"RETURN_AS_TIMEZONE_AWARE": False})
        if parsed:
            return parsed.strftime("%H:%M")
    return np.nan

articles_df["time"] = articles_df["content"].apply(extract_time)
articles_df[articles_df["time"].notna()]

,articleID,source,title,author,publish_date,location,content,time
19,140,Athena Speaks,TOP EVENTS WITH GASTECH,NaN,2014-01-20,"ABILA, Kronos",A long day of the contradictory reports and mu...,10:00
21,160,Athena Speaks,TO MEET the WHOLE FOR Tomorrow morning,NaN,2014-01-19,"ABILA, Kronos","With a meeting to place tomorrow at 8 AM, the ...",08:00
23,202,Athena Speaks,The AIRPORT Of ABILA CONFIRMS TWO PRIVATE TRAV...,NaN,2014-01-20,"ABILA, Kronos","ABILA, Kronos - the fueler Ravi Danisliau of a...",12:30
33,466,Athena Speaks,"EMPLOYEE OF QUESTIONED GASTECH, RELEASED",NaN,2014-01-20,"ABILA, Kronos",During roughly 6 hours employed Edvard Vann de...,17:00
45,125,Central Bulletin,"GASTECH EMPLOYEE INTERROGATED, RELEASED",NaN,2014-01-20,"ABILA, Kronos",For roughly 6 hours GAStech - Kronos employee ...,17:00
...,...,...,...,...,...,...,...,...
740,49,The World,KIDNAPPING AT GASTECH KRONOS,NaN,2014-01-20,"ABILA, Kronos",After a long day of conflicting and confusing ...,10:00
754,17,The Wrap,THE END OF PROTESTS POK IN ARRESTS,NaN,2005-04-06,"ELODIS, Kronos",Fifteen members of the guards of Kronos the ac...,08:00
785,469,Who What News,KIDNAPPING AT GASTECH KRONOS,NaN,2014-01-20,"ABILA, Kronos",After a long day of conflicting and confusing ...,10:00
800,6,World Journal,Four people died in a burning accident of road...,NaN,2007-03-20,NaN,One nine years - the old boy at the beginning ...,09:00
835,730,Worldwise,Traffic of block of protesters to the fields o...,NaN,2005-04-08,"ABILA, Kronos",More than of the dozen protesters POK were han...,05:30

*TODO: Peform similarity analysis on text and find out which are primary source and which are secondary*


*Evidence: article 618, 711, 764 are essentially a same article, which means that there is at least two secondary sources. However, no difference can tell from timesteamps, so probably a similarity analysis can reveal secondary sources if their articles are similar to many other sources*